.caja{
    display: flex;
    align-items: center;
    border: 2px solid black;
    width: 99%;
}

h1{
    margin-left: 45%;
    text-align: center;
}

.caja div{
    width: 100%;
    text-align: center;
    padding-top: 1%;
    color: rgb(255, 255, 255);
}



.item1,.item2, .item3,.item4,.item5, .item6, .item7,.item8, .item9, .item10{
    align-self: baseline;
}

.item1{
    background-color: aqua;
    font-size: 23px;
}

.item2{
    background-color: rgb(255, 0, 221);
        font-size: 30px;
}

.item3{
    background-color: rgb(255, 0, 43);
        font-size: 40px;
}

.item4{
    background-color: rgb(255, 251, 0);
    font-size: 60px;
}

.item5{
    background-color: rgb(4, 0, 255);
    font-size: 10px;
}

.item6{
    background-color: rgb(79, 5, 88);
    font-size: 20px;
}

.item7{
    background-color: rgb(75, 194, 28);
    font-size: 20px;
}

.item8{
    background-color: rgb(64, 82, 82);
    font-size: 20px;
}

.item9{
    background-color: rgb(148, 55, 27);
    font-size: 20px;
}

.item10{
    background-color: rgb(9, 255, 0);
    font-size: 17px;
}