
header {
    background-color:rgb(12, 5, 97);
    text-align: left;
    font-size: 25px;
    width: 100%;
    margin-top: -5%;
    padding-left: 8%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: blanchedalmond;
    position: fixed;
    z-index: 10;
}

body{
    margin: 0;
    background-color: rgb(235, 235, 235);
}

.inicio{
    float: left;
}

.servicio{
    float: left;
    margin-left: 4%;
    margin-right: 4%;
}

section{
    margin: 5%;
    font-size: 150%;
}


article{
    margin-left: 15%;   
}
.texto{
    float: left;
    margin-left: 20%;
    width: 30%;
    margin-right: 5%;
    margin-left: 30%;
    font-size: 160%;
}

.primerTexto{
    margin-bottom: 30%;
}
.boton{
    border-radius: 20px;
    background-color: rgb(41, 243, 98);
    float: left;
    margin-left: 20%;
    margin-top: -70%;
    margin-left:70%;
    width: 8%;
    height: 8%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 70px;
    z-index: 5;
}   

a {
    color: rgb(229, 229, 231);
    text-decoration: none; 
}
a:hover {
    color: rgb(121, 121, 125); 
}
