
.primera{
    padding: 2px;
    border: 1px solid black;
}

.segunda{
    padding: 2px;
    border: 1px solid black;
}

.tercera{
    padding: 2px;
    border: 1px solid black;
}

.cuarta{
    padding: 2px;
    border: 1px solid black;
}

.quinta{
    padding: 2px;
    border: 1px solid black;
}

.sexta{
    padding: 2px;
    border: 1px solid black;
}

.recreo{
    padding: 2px;
    border: 1px solid black;
}

.programacion{
    padding: 2px;
    border: 1px solid black;
}

.basedatos{
    padding: 2px;
    border: 1px solid black;
}

.sistemasinformaticos{
    padding: 2px;
    border: 1px solid black;
}

.sostenibilidad{
    padding: 2px;
    border: 1px solid black;
}

.edd{
    padding: 2px;
    border: 1px solid black;
}

.lenguajemarcas{
    padding: 2px;
    border: 1px solid black;
}

.IPE{
    padding: 2px;
    border: 1px solid black;
}

.digitalizacion{
    padding: 2px;
    border: 1px solid black;
}