header{
    padding: 0.5%;
    z-index: 20;
    position: fixed;
    background-color: rgb(136, 137, 137);
    height: 80px;
    width: 96%;
    border-radius: 20px;
    margin-left: 1%;
    margin-right: 2%;
}

img{
    height: 80px;
    width: 4.5%;
    border-radius: 20px;
    float: left;
}

.menu{
    margin-left: 20px;
    float: left;
    width: 90%;
    
}

.inicio{
    float: left;
    font-size: 20px;
    margin-left: 40px;
    width: 30%;
    text-align: center;
}

.contacto{
    float: left;
    font-size: 20px;
    margin-left: 40px;
    width: 30%;
    text-align: center;
}

.datos_interesantes{
    float: left;
    font-size: 20px;
    margin-left: 40px;
    width: 30%;
    text-align: center;
}

a {
    color: rgb(63, 63, 65);
    text-decoration: none; 
}
a:hover {
    color: rgb(44, 44, 55); 
}
a:active {
    color: rgb(122, 122, 125); 
}

body{
    background-color: rgb(192, 195, 197);
}