body { 
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav article ads"
    "nav footer footer";
  grid-template-rows: 80px 1fr 70px;  
  grid-template-columns: 20% 1fr 15%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
}  

header, footer, article, nav, div {
  padding: 1.2em;
  background: gold;
}


.page-header {
  grid-area: header;
}

.page-footer {
  grid-area: footer;
}

.main-article { 
  grid-area: article;      
}

.main-nav { 
  grid-area: nav; 
}

.site-ads { 
  grid-area: ads; 
}
