
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}




.header {
    grid-area: header;
    background-color: #52174d;
    color: white;
    text-align: center;
    padding: 20px;
}



.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}



.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    color: #574911;
}


.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;
    padding: 20px;
}


.contenido {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.entrada {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

.entrada h2 {
    color: #2c3e50;
    text-align: center;
}

.entrada img {
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
}


.lateral {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sobre-mi,
.categorias {
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 10px;
}

.lateral h3 {
    color: #34495e;
    text-align: center;
    margin-bottom: 10px;
}


.footer {
    grid-area: footer;
    background-color: #52174d;
    text-align: center;
    padding: 15px;
}

.footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}


.footer a:hover {
    color: #473a06;
}
