* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}


.header {
    grid-area: header;
    background-color: #8559d6;
    color: white;
    text-align: center;
    padding: 20px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.main {
    grid-area: main;
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
}

.contenido,
.lateral {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.footer {
    grid-area: footer;
    background-color: #8559d6;
    color: white;
    text-align: center;
    padding: 15px;
}
