html, body {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to top, rgb(129, 178, 220), rgb(69, 95, 147));
    background-image: url("assets/portatil.jpg");
    background-size: cover;
    background-position: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
}

.Contenido {
    grid-column: 1 / 5;
    grid-row: 1 / 5;
}

.footer {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
}

.marca_bien {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    backdrop-filter: blur(10px);
}


.titulo {
    font-size: 7vh;
}

.apple-button {
    margin-top: 20px;
    padding: 15px 35px;

    font-size: 16px;
    color: white;

    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50px;

    cursor: pointer;
    backdrop-filter: blur(8px);

    transition: transform 0.2s, background 0.2s;
}
.apple-button:hover {
    background-color: rgba(255, 255, 255, 0.25);
    transform: scale(1.05);
}

.apple-button:active {
    transform: scale(0.95);
}
