body{
    background-color: rgb(236, 238, 240);
}

.bloque1 {
    width: 60%;
    background-color: rgb(195, 202, 202);
    height: 30%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    z-index: 10;
    position: sticky;
    top: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 20px;
    margin-top: 2%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.bloque2, .bloque3 {
    width: 30%;
    height: 400px;
    background-color: rgb(149, 145, 145);
    z-index: 5;
    border: 2px solid black;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.bloque2{
    position: relative;
    padding: 1%;
    left: 6%;
    font-size: 20px;
}



.bloque4{
    width: 30%;
    height: 400px;
    background-color: rgba(135, 144, 146, 0.78);
    z-index: 6;
    border: 2px solid black;
    margin-top: -14%;
    margin-left: 15%;
    margin-right: 4%;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}